@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    font-family: "Amatic SC", Helvetica, sans-serif;
    margin: 0;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(93, 69, 43);
    padding: 0px 50px;
    box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.header-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.logo {
    height: 70px;
}

h1 {
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 25px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

/* INFO */
.info {
    background-color: rgba(148, 120, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px ;
}

.info-container {
    height: 250px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 100px 0px;
    margin-left: -35px;
    margin-bottom: 300px;
    border-radius: 10px;

}

.info-title {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}

.info-text {
    font-size: 30px;
    font-weight: 500;
}

.button-info {
    background-color: rgba(93, 69, 43);
    font-family: "Amatic SC", Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 700;
    border: 0;
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
}

.info-picture {
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.2);
}

/* MID-SECTION */
.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 100px;
}

.mid-groups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mid-title {
    font-size: 50px;
    font-weight: bold;
}

.mid-text {
    font-size: 30px;
    font-weight: 700;
}

.mid-picture {
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.2);
}

/* QUOTE */
.quote {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    padding: 50px 200px;
}

.quote-text {
    text-align: left;
    font-size: 40px;
}

.quote-author {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
}

/* BOTTON */
.bottom {
    background-color: rgba(148, 120, 83);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 25px;
    margin: 100px 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 6px rgba(0, 0, 0, 0.2);
}

.bottom-container {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0;
}

.bottom-text {
    font-size: 30px;
}

.button-bottom {
    background-color: rgba(93, 69, 43);
    font-family: "Amatic SC", Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 700;
    border: 1px solid white;
    width: 175px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgba(93, 69, 43);
    padding: 10px 0px;
}